<h2>Log de errores</h2>

<app-listado-generico [listado]="logs">
    <ng-container contenido>
        <table #table mat-table [dataSource]="logs" class="mat-elevation-z8 tabla-indice" >
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="errorMessage">
                <th mat-header-cell *matHeaderCellDef>errorMessage</th>
                <td mat-cell *matCellDef="let element">{{element.errorMessage}}</td>
            </ng-container>
            <ng-container matColumnDef="errorStackTrace">
                <th mat-header-cell *matHeaderCellDef>errorStackTrace</th>
                <td mat-cell *matCellDef="let element">{{element.errorStackTrace}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef >date</th>
                <td mat-cell *matCellDef="let element">{{element.date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
        </table>
    </ng-container>
</app-listado-generico>