<h2>Publicaciones</h2>

<app-listado-generico [listado]="posts">
    <ng-container contenido>
        <table #table mat-table [dataSource]="posts" class="mat-elevation-z8 tabla-indice" >
            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>userId</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>id</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="body">
                <th mat-header-cell *matHeaderCellDef >body</th>
                <td mat-cell *matCellDef="let element">{{element.body}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
        </table>
    </ng-container>
</app-listado-generico>