<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>layers</mat-icon>VisibleOutSource.FrontEnd
        </a>
    </span>
    <div>
        <a mat-button routerLink="logs">Logs</a>
    </div>
    <div>
        <a mat-button routerLink="posts">Publicaciones</a>
    </div>
</mat-toolbar>
